/* src/static/base.css */
/* 禁止选中 */
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* 标准语法 */
}
/* 禁止拖拽 */
.drag-ban {pointer-events: none;}

/* Toast 的基本样式 */
.toast {
  position: fixed;
  bottom: 20px; /* 距离底部20px */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
  color: white; /* 白色字体 */
  padding: 10px 20px; /* 内边距 */
  border-radius: 5px; /* 圆角 */
  opacity: 0; /* 初始透明度 */
  transition: opacity 0.5s ease; /* 过渡效果 */
  z-index: 1000; /* 确保在最上层 */
}

.toast.show {
  opacity: 1; /* 显示时的透明度 */
}

/* 加载层... */
.loading-layer {
  position: absolute;
  background-color: #282C34;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* 使用 flexbox */
  justify-content: center;
  /* 水平居中 */
  flex-direction: column;
  align-items: center;
  /* 垂直居中 */
  font-size: 24px;
  /* 设置字体大小（可自定义） */
  z-index: 99;
}
.loading-layer .loading-svg {
  height: 25vh;
  aspect-ratio: 2/1;
  display: flex;
  /* 使用 flexbox */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  overflow: hidden;
}
.loading-layer .loading-svg svg path {
  stroke: #D3D3D3;
  stroke-width: 3;
  stroke-dasharray: 2026;
  stroke-dashoffset: 2026;
  animation: line-anm 3s ease forwards;
}
@keyframes line-anm {
  to {
    stroke-dashoffset: 0;
  }
}
.loading-layer .spinner {
  height: 6vh;
  aspect-ratio: 1/1;
  background-color: #CC4800;
  animation: rotate-plane 1.2s infinite ease-in-out;
}
@keyframes rotate-plane {
  0% {
    transform: perspective(6vh) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(6vh) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(6vh) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* 开发logo */
.dev-logo .img.web-cons-lt,
.dev-logo .img.web-cons-rb {
  position: absolute;
  object-fit: cover;
  z-index: 2;
}
.dev-logo .img.web-cons-lt {
  height: 150px;
  left: 0;
  top: 0;
}
.dev-logo .img.web-cons-rb {
  height: 125px;
  right: 0;
  bottom: 0;
}
